.header {
    /* text-align: center; */
    /* padding: 16px 0px; */
    
    background-color: var(--adm-color-primary);
    color: var(--adm-color-white);
    width: 100vw;
}

.header h3 {
    /* width: 70vw;
    text-align: center; */
    width: max-content;
}